<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/trenissimo</property>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.AgencyEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.CalendarEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.CalendarDatesEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.RoutesEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.StopTimesEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.StopsEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.TripsEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.AccountEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.DatiPersonaliEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.StoricoAcquistiEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.ViaggiPreferitiEntity"/>
        <mapping class="it.unipv.po.aioobe.trenissimo.model.persistence.entity.TitoloViaggioEntity"/>


    </session-factory>
</hibernate-configuration>