.ticket{
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
    -fx-background-color: white;
    -fx-background-radius: 8;

    -fx-shape: "M0 8C0 3.58172 3.58172 0 8 0H192C196.418 0 200 3.58172 200 8V80C196.686 80 194 82.6863 194 86C194 89.3137 196.686 92 200 92V112C200 116.418 196.418 120 192 120H8C3.58173 120 0 116.418 0 112V92C3.31371 92 6 89.3137 6 86C6 82.6863 3.31371 80 0 80V8Z";
}