.button {
    -fx-background-color: #f2f3f7;
    -fx-background-radius: 8;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
}

.button:hover {
    -fx-background-color: rgb(187, 187, 187);
    -fx-background-radius: 8;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
}

.btnAcquista {
    -fx-background-color: rgb(0, 101, 101);
    -fx-background-radius: 8;
    -fx-border-color: #006565;
    -fx-border-radius: 8;
}

.btnAcquista:hover {
    -fx-background-color: rgb(73, 152, 152);
    -fx-background-radius: 8;
    -fx-border-color: #499898;
    -fx-border-radius: 8;
}

.textField {
    -fx-background-color: #f2f3f7;
    -fx-background-radius: 8;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
}

.text-area {
    -fx-background-color: #f2f3f7;
    -fx-background-radius: 8 8 8 8;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8 8 8 8;
}

.text-area .content {
    -fx-background-color: #f2f3f7;
    -fx-background-radius: 8 8 8 8;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8 8 8 8;
}

.text-area .scroll-pane {
    -fx-background-color: #f2f3f7;
    -fx-background-radius: 8 8 8 8;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8 8 8 8;
}
