@import url("../styles.css");

.body
{
    -fx-background-image: url("./sfondoHomePage.jpg");
}
.tab-header-background
{
    -fx-opacity: 0;
}
.tab{
    -fx-background-color: white;
}
.title{
    -fx-font-weight: bold;
}
.data{
    -fx-text-fill: grey;
}


.textField{
    -fx-background-color: #f2f3f7;
    -fx-background-radius: 8;
    -fx-border-color: #cccccc;
    -fx-border-radius: 8;
}
