@import url("../styles.css");

.body
{
    -fx-background-image: url("./sfondoHomePage.jpg");
}
.tab-header-background
{
    -fx-opacity: 0;
}
.tab{
    -fx-background-color: white;
}
.title{
    -fx-font-weight: bold;
}
.data{
    -fx-text-fill: grey;
}
